<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Music | Emilia Cole</title>
  <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/music">music</a></li>
        <li><a href="/contact">contact</a></li>
      </ul>
    </nav>
    <nav>
      <a href=""><i class="fab fa-instagram"></i></a>
      <a href=""><i class="fab fa-facebook-square"></i></a>
      <a href=""><i class="fab fa-spotify"></i></a>
      <a href=""><i class="fab fa-apple"></i></a>
      <a href=""><i class="fab fa-amazon"></i></a>
      <a href=""><i class="fab fa-twitter"></i></a>
    </nav>
  </header>
  <main>
    <h1>music //</h1>
    <section>
      <h5>Direct links</h5>
      <ul>
        <li><a href="#album">Album</a></li>
        <li><a href="#organic">Video: Organic Love </a></li>
        <li><a href="#street">Video: Street Light </a></li>
      </ul>
    </section>
    <section>
      <h2 id="album">album<br>twist in my reality</h2>
      <img src="/images/emilia-play-list.png" alt="imagen play list" width="640">
      <ul>
       <li><i class="fas fa-play"> <a href="">Organic Love | 02:40</a></i></li>
       <li><i class="fas fa-play"> <a href="">Twist In My Reality | 02:10</a></i></li>
       <li><i class="fas fa-play"> <a href="">Street Light | 03:28</a></i></li>
       <li><i class="fas fa-play"> <a href="">Love Don’t Live HereAnymore (Cover) | 03:49</a></i></li>
      </ul>
      <a href="#">Go Top</a>
    </section>
    <section>
      <h2 id="organic">video<br>organic love</h2>
      <iframe src="https://player.vimeo.com/video/135166028" width="640" height="360" frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
      <p>Directed by VINCE MALC & EMILIA COLE</p>
      <p>Edited and Filmed by NICOLAS TROY</p>
      <p>Produced by NIKI HEART,</p>
      <p>Wix Films LTD.</p>
      <a href="#">Go Top</a>
    </section>
    <section>
      <h2 id="street">video<br>street light</h2>
      <iframe src="https://player.vimeo.com/video/134861419" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
      <p>Directed by VINCE MALC & EMILIA COLE</p>
      <p>Edited and Filmed by NICOLAS TROY</p>
      <p>Produced by NIKI HEART,</p>
      <p>Wix Films LTD.</p>
      <a href="#">Go Top</a>
    </section>
  </main>
</body>

</html>