body.about{
    background-image: url("/images/emilia-about.jpg");
    background-size: 75% 150%;
    background-repeat: no-repeat;
    background-position: right top;
}
.about section{
    margin: 30px;
    color :#2da68f;

}
.about h4{
    font-size: 20px;
}


.about ul{
    padding: 0;
}
about ul li {
    list-style: initial;
}